name: CI

on:
    push:
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
              with:
                  persist-credentials: false
            - name: Install Node.js
              uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af
              with:
                  node-version: 20
                  cache: npm
            - run: npm ci
            - run: pnpm run build
            - run: pnpm run test:unit
