@import '../../css/colors.css';
@import '../../css/units.css';
@import '../../css/z-index.css';

@keyframes fadeInMenu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.context-menu {
    min-width: 130px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 0.85rem;
    text-align: left;
    color: $text-primary;
    background-color: $ui-white;
    border: 1px solid $ui-black-transparent;
    border-radius: calc($margin / 2);
    box-shadow: 0px 0px 5px 1px $shadow;
    pointer-events: none;
    opacity: 0;
    z-index: $z-index-context-menu;
    animation: fadeInMenu 0.25s forwards;
    font-family: 'Inter Variable', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

[dir=rtl] .context-menu {
    text-align: right;
}

.menu-item {
    padding: 8px 12px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.1s ease;
    outline: none;
}

.menu-item[data-highlighted] {
    background: $looks-secondary;
    color: white;
}

.menu-item-bordered {
    border-top: 1px solid $ui-black-transparent;
    outline: none; /* Firefox visual bug */
}

.menu-item-danger[data-highlighted] {
    background: $error-primary;
}
