@import '../../css/colors.css';
@import '../../css/units.css';
@import '../../css/z-index.css';

.context-menu {
    min-width: 130px;
    padding: 3px 0;
    margin: 2px 0 0;
    font-size: 0.8rem;
    text-align: left;
    color: $text-primary;
    background-color: $ui-white;
    border: 1px solid $ui-black-transparent;
    border-radius: calc($roundedness / 3);
    box-shadow: 0px 0px 5px 1px $shadow;
    pointer-events: none;
    z-index: $z-index-context-menu;
    display: flex;
    flex-direction: column;
}

[dir=rtl] .context-menu {
    text-align: right;
}

.menu-item {
    padding: 4px 10px;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
}

.menu-item[data-highlighted] {
    background: $badge-background;
}

.menu-item-separator {
    border-top: 1px solid $ui-black-transparent;
}

.menu-item-danger {
    color: $red-primary;
}
