@import '../../css/units.css';
@import '../../css/colors.css';
@import '../../css/default-colors.css';

.question-container {
    margin: $margin;
    border: 1px solid $ui-black-transparent-default;
    border-radius: $roundedness;
    border-width: 2px;
    padding: 1rem;
    background: white;
}

.question-label {
    font-size: 0.75rem;
    font-weight: bold;
    font-family: 'Inter Variable', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $text-primary-default;
    padding-bottom: $margin;
}

.question-input {
    display: flex; /* Keeps the input from going outside this container */
    position: relative;
}

.question-submit-button,
.yes-icon,
.no-icon {
    position: absolute;
    top: calc($margin / 2);

    width: calc(2rem - $margin);
    height: calc(2rem - $margin);

    border: none;
    border-radius: 9999em;

    color: white;
    background: $looks-secondary;
    font-family: 'Inter Variable', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

[dir='ltr'] .question-submit-button {
    right: calc($margin / 2);
}

[dir='rtl'] .question-submit-button {
    left: calc($margin / 2);
}

/* Input overrides: width, font-weight, focus outline and padding */
.question-input > input {
    width: 100%;
    font-weight: normal;

    /* override dark mode */
    background-color: $input-background-default;
    color: $text-primary-default;
    border-color: $ui-black-transparent-default;
}

[dir='ltr'] .question-input > input {
    padding: 0 2rem 0 0.75rem; /* To make room for the submit button */
}

[dir='rtl'] .question-input > input {
    padding: 0 0.75rem 0 2rem; /* To make room for the submit button */
}

.question-input > input:focus {
    box-shadow: 0px 0px 0px 3px $looks-transparent;
}

.question-submit-button-icon,
.yes-icon,
.no-icon {
    width: calc(2rem - $margin);
    height: calc(2rem - $margin);
    position: relative;
    right: -7px;
    left: -7px;
    padding: 3px;
}

.no-icon {
    background: $data-primary;
    transform: rotateZ(45deg);
    padding: 5px;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}
