@import '../../css/units.css';
@import '../../css/colors.css';

.wrapper {
    display: flex;
    flex-grow: 1;
    border: 1px solid $ui-black-transparent;
    background: $assets-background;
    font-family: 'Inter Variable', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
}

[dir='ltr'] .wrapper {
    border-top-right-radius: $roundedness;
    border-bottom-right-radius: $roundedness;
}

[dir='rtl'] .wrapper {
    border-top-left-radius: $roundedness;
    border-bottom-left-radius: $roundedness;
}

.detail-area {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: visible;
}

[dir='ltr'] .detail-area {
    border-left: 1px solid $ui-black-transparent;
}

[dir='rtl'] .detail-area {
    border-right: 1px solid $ui-black-transparent;
}
