@import '../../css/colors.css';
@import '../../css/default-colors.css';

.spinner {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border-width: 0.1875rem;
    border-style: solid;
    border-color: $ui-white-transparent-default;
    box-sizing: content-box;
    border-top-color: $ui-white-default;
    animation: spin 1.5s cubic-bezier(0.4, 0.1, 0.4, 1) infinite;
}

.small {
    width: 0.5rem;
    height: 0.5rem;
}

.small::before,
.small::after {
    width: 0.5rem;
    height: 0.5rem;
}

.large {
    width: 2.5rem;
    height: 2.5rem;
}

.large::before,
.large::after {
    width: 2.5rem;
    height: 2.5rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner.success {
    border-color: $extensions-transparent;
}

.spinner.success::after {
    border-top-color: $extensions-primary;
}

.spinner.warn {
    border-color: $error-transparent;
}

.spinner.warn::after {
    border-top-color: $error-primary;
}

.spinner.info {
    border-color: $ui-white-transparent-default;
    border-top-color: $ui-white-default;
}

.spinner.primary {
    border-color: $looks-transparent;
    border-top-color: $looks-secondary;
}
