@import '../../css/colors.css';
@import '../../css/units.css';

.tag-button {
    font-family: 'Inter Variable', Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-inline-start: 4px;
    cursor: pointer;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid $motion-primary;
    border-radius: calc($margin / 2);
    background-position: center;
    transition: .2s all ease;
}

.tag-button:hover .checkbox {
    box-shadow: 0 0 0 2px $looks-transparent;
}

.tag-button[aria-checked=true] .checkbox {
    border-color: $motion-tertiary;
    background: $motion-primary;
    background-image: url('./checkbox.svg');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}
