@import '../../css/units.css';
@import '../../css/colors.css';
@import '../../css/filters.css';

.sidebar-container {
    display: flex;
    flex-direction: row;
    height: calc(100% - $library-header-height);
    overflow-y: hidden;
}
.library-scroll-grid {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    background: $ui-secondary;
    flex-grow: 1;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: auto;
    width: calc(100% - 600px);
    padding: 0.5rem;
}

.filter-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 30px;
    border: 0;
    border-radius: $roundedness;
    background-color: $ui-tertiary;
    border: $ui-black-transparent 1px solid;
    margin: $margin;
    font-size: 0.875rem;
    height: calc(100% - calc($margin - 2));
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;
}
.filter-bar-open {
    display: flex;
    width: 300px;
}
.filter-bar-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 4px;
    padding: calc($margin * 3);
    padding-left: $margin;
}

.filter {
    flex-grow: 0;
}

.filter-input {
    width: 100%;
    transition: 0.2s;
}

.divider {
    height: 4px;
}

.tag-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}

.spinner-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.open-button {
    display: block;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transform: scaleX(-1);
    width: 30px;
    padding-block: calc($margin * 4.5);
}

.open-button img {
    filter: $filter-icon-white;
}

.open-button.open-button-closed {
    width: 100%;
    transform: scaleX(1);
}

@media (max-width: 1449px) {
    .library-scroll-grid {
        width: 100%; 
        margin-left: 40px;
    }
    
    .filter-bar {
        position: absolute;
        left: 0;
        z-index: 10;
        height: calc(100% - $library-header-height);
        margin-right: 0;
        border-left: 0;
        border-top: 0;
        border-bottom: 0;
        border-radius: 0;
        margin: 0;
    }

    .filter-bar:not(.filter-bar-open), .open-button {
        width: 40px; /* Better for touchscreens */
    }

    .library-overlay {
        z-index: 9;
        position: fixed;
        height: calc(100% - $library-header-height);
        top: $library-header-height;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
}