@import '../../../css/colors.css';
@import '../../../css/units.css';
@import '../../../css/filters.css';

.footer {
    padding: 10px 0;
    margin-top: 10px;
    border-top: 1px solid $ui-black-transparent;
    width: 100%;
    font-size: 0.95em;
}
.footer a {
    font-weight: bold;
    cursor: pointer;
    color: $motion-primary;
}
.footer a.footer-reset-data {
    color: $red-primary;
}
.footer-content {
    max-width: 1200px;
    margin: auto;
}
.footer-text {
    text-align: center;
    margin: 5px 0 10px 0;
}
.footer-columns {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}
.footer-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 300px;
    margin-bottom: 10px;
}
.footer-section > * {
    margin-bottom: 10px;
}

.separator {
    margin: 0 0.5em;
    border-left: 1px solid $ui-black-transparent;
    height: 1em;
}

.semicolon {
    background: $page-background;
    width: 100%;
}

.customDropdown {
    display: inline-block;
    width: 300px;
    font-family: inherit;
}

.dropdownToggle {
    outline: none;
    width: 100%;
    padding: 8px 12px;
    border-radius: $roundedness;
    background: $ui-secondary;
    border: 1px solid $ui-black-transparent;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1rem; /* fix visual oddity on FAQ page */
}

.dropdownToggle[data-state="open"] {
    background: $ui-tertiary;
}
.dropdownToggle[data-state="open"]::after {
    transform: rotate(180deg) translateY(55%); /* flip when open */
}
.dropdownToggle img {
    filter: $filter-icon-black;
}

.dropdownMenu {
    width: 300px;
    color: $menu-bar-foreground;
    background: $menu-bar-background;
    border: 1px solid $menu-bar-hover;
    border-radius: $roundedness;
    max-height: 600px;
    margin-bottom: 2px;
    padding: 0;
    line-height: 1;
    gap: 0;
    overflow: hidden;
}

.dropdownItem {
    padding: 10px 10px;
    padding-left: 35px;
    position: relative;
    cursor: pointer;
    text-align: start;
    font-weight: bold;
    padding-inline-start: 24px;
}

.checkmark {
    position: absolute;
    inset-inline-start: 10.5px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg); /* rotate to get the checkmark angle */
    width: 6px;
    height: 12px;
    border-bottom: 2px solid $menu-bar-foreground;
    border-right: 2px solid $menu-bar-foreground;
}

.dropdownItem[data-highlighted] {
    background: $menu-bar-hover;
    outline: none;
}