@import '../../../css/colors.css';
@import '../../../css/units.css';
@import '../../../css/filters.css';

.footer {
    padding: 10px 0;
    margin-top: 10px;
    border-top: 1px solid $ui-black-transparent;
    width: 100%;
    font-size: 0.95em;
}
.footer a {
    font-weight: bold;
    cursor: pointer;
    color: $motion-primary;
}
.footer a.footer-reset-data {
    color: $red-primary;
}
.footer-content {
    max-width: 1200px;
    margin: auto;
}
.footer-text {
    text-align: center;
    margin: 5px 0 10px 0;
}
.footer-columns {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}
.footer-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 300px;
    margin-bottom: 10px;
}
.footer-section > * {
    margin-bottom: 10px;
}

.separator {
    margin: 0 0.5em;
    border-left: 1px solid $ui-black-transparent;
    height: 1em;
}

.semicolon {
    background: $page-background;
    width: 100%;
}

.customDropdown {
    position: relative;
    display: inline-block;
    width: 300px;
    font-family: inherit;
}

.dropdownToggle {
    width: 100%;
    padding: 8px 12px;
    border-radius: $roundedness;
    background: $ui-secondary;
    border: 1px solid $ui-black-transparent;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.dropdownToggle::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0.6em;
    height: 0.6em;
    transform: translateY(-50%);
    margin-inline-end: 1rem;

    /* The magic triangle */
    background: currentColor; /* makes it match text color */
    clip-path: polygon(
        50% 100%, /* bottom center */
        0 0,      /* top left */
        100% 0    /* top right */
    );
}
[dir=rtl] .dropdownToggle::after {
    right: unset;
    left: 0;
}

.dropdownToggle.open {
    background: $ui-tertiary;
}
.dropdownToggle.open::after {
    transform: rotate(180deg) translateY(55%); /* flip when open */
}
.dropdownToggle img {
    filter: $filter-icon-black;
}

.dropdownMenu {
    position: absolute;
    bottom: 100%; /* dropdown opens above */
    left: 0;
    width: 100%;
    color: $menu-bar-foreground;
    background: $menu-bar-background;
    border: 1px solid $menu-bar-hover;
    border-radius: $roundedness;
    margin-bottom: 2px;
    max-height: 400px;
    overflow-y: auto;
    z-index: 1000;
    list-style: none; /* hide markers */
    padding: 0;
    line-height: 1;
    gap: 0;
}

.dropdownItem {
    padding: 10px 10px;
    padding-left: 35px;
    cursor: pointer;
    text-align: start;
    font-weight: bold;
    padding-inline-start: 24px;
    position: relative;
    transition: background-color .2s;
}

.dropdownItem::before {
    content: '';
    position: absolute;
    inset-inline-start: 10.5px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg); /* rotate to get the checkmark angle */
    width: 6px;
    height: 12px;
    border-bottom: 2px solid $menu-bar-foreground;
    border-right: 2px solid $menu-bar-foreground;
    opacity: 0;
}

.dropdownItemSelected::before {
    opacity: 1;
}

.dropdownItem:hover {
    background: $menu-bar-hover;
}