@import '../../css/colors.css';
@import '../../css/units.css';

:global(:root) {
    --driver-overlay-colour: $ui-modal-overlay;
}

.examples-row {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 1em;
}

.example {
    display: flex;
    flex: 1 1 calc((100% - 12px) / 4);
    max-width: calc((100% - 12px) / 4);
    flex-direction: column;
    border: 1px solid $ui-black-transparent;
    border-radius: $roundedness;
    overflow: hidden;
    cursor: pointer;
    width: 250px;
    user-select: none;
}

.example-content {
    display: flex;
    flex-direction: column;
    padding: calc($margin * 1.2);
    gap: 8px;
    align-items: center;
}

.example-title {
    font-weight: bold;
    font-size: 1.05em;
    white-space: nowrap; /* prevent wrapping */
    overflow: hidden; /* hide overflow */
    text-overflow: ellipsis; /* add "..." if too long */
}

.example-author {
    font-size: 0.8em;
}

.example:hover {
    border: 1px solid $looks-secondary;
}

.example .example-thumbnail {
    width: 100%;
    aspect-ratio: 4 / 3;
}

.modalContent {
    max-width: 600px;
}

.modal-body {
    background: $ui-modal-background;
    color: $page-foreground;
    padding: 20px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
}

.modal-body iframe {
    margin: auto;
}

:global(.ReactModal__Body--open), :global(.driver-active) {
    overflow: hidden;
}

.unsupported {
    border: 1px solid #ff52526e;
    background-color: #ff525240;
    padding: 8px;
    border-radius: 4px;
}

.popover {
    color: white !important;
    background-color: $sound-primary !important;

    :global(.driver-popover-description) {
        font-family: "Inter Variable", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-weight: bold;
        text-align: center;
    }

    :global(.driver-popover-arrow-side-bottom) {
        border-bottom-color: $sound-primary !important;
    }
}