.sa-folders-contextmenu-item {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

[sa-folders-context-type="folder"] [class*="context-menu_menu-item"] > :not(.sa-ctx-menu) {
  display: none;
}
