@import '../css/colors.css';
@import '../css/units.css';

* {
    box-sizing: border-box;
    font-family: 'Inter Variable', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

code {
    font-family: 'Ubuntu Mono', monospace;
}

body {
    margin: 0;
    padding: 0;
    background: $page-background;
    color: $page-foreground;

    a {
        color: $link-color;
    }

    .main section,
    .wrap {
        max-width: 900px;
        margin: auto;
        padding: 0 1em; /* default horizontal padding */

        @media (max-width: 768px) {
            padding: 0 1.5em; /* increase horizontal padding on mobile */
        }

        @media (max-width: 480px) {
            padding: 0 1em;
        }
    }

    .header-container {
        color: white;
        background-color: $motion-tertiary;
        padding: 14px 0;
        text-align: center;

        &-alt-colour {
            background-color: $looks-secondary;
        }
    }

    .users {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;

        .user {
            display: flex;
            align-items: center;
            width: 300px;
            padding: 4px;
            border-radius: 4px;
            font-size: 1.25rem;
            color: inherit !important;
            text-decoration: none;
            transition: background 0.2s;

            &:link:hover {
                background: $ui-black-transparent;
            }

            .user-image {
                margin-right: 12px;
            }
        }
    }

    .spacing {
        margin-bottom: 12px;
    }
}
