@import '../css/colors.css';
@import '../css/units.css';

@layer websiteDesign;

@layer websiteDesign {
    body {
        margin: 0;
        padding: 0;
        background: $page-background;
        color: $page-foreground;
        min-height: 100vh;
        font-family: "Inter Variable", "Helvetica Neue", Helvetica, Arial, sans-serif;

        a {
            color: $link-color;
        }

        p {
            line-height: 1.5;
        }

        .main section,
        .wrap {
            max-width: 900px;
            margin: auto;
            padding: 0 1em; /* default horizontal padding */

            @media (max-width: 768px) {
                padding: 0 1.5em; /* increase horizontal padding on mobile */
            }

            @media (max-width: 480px) {
                padding: 0 1em;
            }
        }

        .header-container {
            color: white;
            background-color: $motion-tertiary;
            padding: 14px 0;
            text-align: center;

            &-alt-colour {
                background-color: $looks-secondary;
            }
        }   

        .spacing {
            margin-bottom: 12px;
        }
    }
}